<project-nav></project-nav>
<div class="wrap" ng-class="{'show-sidebar-right': renderOptions.showSidebarRight}">
  <div class="sidebar-left">
    <sidebar></sidebar>
  </div>
  <div class="container-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" ng-transclude>

        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-right sidebar-pf sidebar-pf-right">
    <div class="container-fluid">
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">Details</h2>
      </div>

      <!-- Temp example of functioning hover menu -->
      <div class="dropdown" style="background: tomato; padding: 10px">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-trigger="hover" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
      </div>


      <osc-object-describer></osc-object-describer>
    </div>
  </div>
</div>
