<div ng-controller="ProjectController" class="content">
  <project-page>
    <div ng-controller="ServicesController">
      <div class="page-header page-header-bleed-right">
        <h1>Services</h1>
      </div>
      <alerts alerts="alerts"></alerts>
      <div ng-if="(services | hashSize) == 0">
        <div>
          <em>{{emptyMessage}}</em>
        </div>
      </div>
      <table class="table table-bordered" style="background: white;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Cluster IP</th>
            <th>External IP</th>
            <th>Ports</th>
            <th>Selector</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="service in services | orderObjectsByDate : true">
            <td><a href="project/{{projectName}}/browse/service/{{service.metadata.name}}">{{service.metadata.name}}</a></td>
            <td>{{service.spec.clusterIP}}</td>
            <td>
              <span ng-if="!service.status.loadBalancer.ingress.length"><em>none</em></span>
              <span ng-if="service.status.loadBalancer.ingress.length">{{service.status.loadBalancer.ingress[0].ip}}</span>     
              <!-- TODO, show all? hover? -->
            </td>
            <td>
              <span ng-if="!service.spec.ports.length"><em>none</em></span>
              <span ng-if="service.spec.ports.length">{{service.spec.ports[0].port}} ({{service.spec.ports[0].protocol}})</span>
              <!-- TODO, show all? hover? -->
            </td>
            <td>
              <span ng-if="!service.spec.selector"><em>none</em></span>
              <span ng-repeat="(selectorLabel, selectorValue) in service.spec.selector">{{selectorLabel}}={{selectorValue}}<span ng-show="!$last">, </span></span>              
            </td>
            <td><relative-timestamp timestamp="service.metadata.creationTimestamp" drop-suffix="true"></relative-timestamp></td>
          </tr>
        </tbody>
      </table>
    </div>
  </project-page>
</div>
